body {
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      background: white;
      font-family: Arial, sans-serif;
      font-size: 12px;
      background: #EEE;
    }

.vr-wrapper {
	width: 119px;
	padding: 20px;
	overflow: hidden;
}

.label {
	width: 70px;
	float: left;
	padding: 3px 0;
}

.input {
	width: 25px;
	margin: 0 0 5px;
	border: 1px solid #DDD;
	padding: 5px 10px;
	border-radius: 3px;
	border-width: 0 1px 1px 0;
}

.apply {
	border: 1px solid #999;
	padding: 5px 10px;
	border-radius: 3px;
	float: right;
	clear: both;
	background: white;
	font-size: 12px;
}

.apply:hover {
	background: #E7FFE7;
	cursor: pointer;
}

